spring:
  datasource:
    url: jdbc:h2:mem:holiday;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100

server:
  port: 8080

logging:
  level:
    org.springframework.core.LocalVariableTableParameterNameDiscoverer: error
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: debug
